# 该项目在学习使用lerna发包阶段比较合适配合Verdaccio这个工具库进行演示
# 第一步：先全局安装verdaccio
# 第二步：终端中执行verdaccio将会启动一个本地服务器，模拟npm仓库
# 第三步：在该repo终端下，执行npm adduser --registry http://localhost:4873/ 注册一个上述本地服务器的用户后才可以进行发包
# 第四步：开发包，提交commit后，执行lerna publish --no-push即可指发包，不提交记录到origin master上

# 当需要真实发布包到npm或者公司私有源时，需要替换成真实的源地址
registry='http://localhost:4873/'